@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 680px;
  background: url("../img/bg.jpg");
  background-size: cover;
  overflow-x: hidden;
}
header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1140px;
  margin-top: 15px;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
  font-weight: 400;
  text-decoration: none;
  color: #212733;
}
.header-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
.header-content a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-content a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.header-content a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.header-content a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.header-logo img {
  margin-right: 10px;
}

.hidden-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.visible-sidebar {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.none-sidebar {
  width: 60%;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-left: 50px;
  background: #191A1E;
  z-index: 1000;
}
.sidebar button {
  background: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar button:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidebar div a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar div a:hover {
  color: white;
}
.sidebar .special-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#074D88), to(#61B3C9));
  background: -o-linear-gradient(left, #074D88 0%, #61B3C9 100%);
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  padding: 20px 40px;
  margin: 40px 0;
  color: #fff;
}
.sidebar .special-link img {
  margin-left: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar .special-link:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.sidebar .social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sidebar .social a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.sidebar .social a:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

section.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.about img {
  width: 100%;
}
section.about aside {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 0 100px;
}
section.about aside h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
  grid-column: 1/2;
  text-align: right;
  align-self: flex-end;
}
section.about aside .about-content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: right;
  opacity: 0;
}
section.about aside .about-content p {
  margin: 30px 0;
}
section.about aside .enable-about-content {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  opacity: 1;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
section.about aside .switchs {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
section.about aside .switchs input {
  display: block;
  margin: 10px;
}
section.about aside .switchs input[type=radio] {
  display: none;
}
section.about aside .switchs input[type=radio] + div {
  content: "\a";
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: #313035;
}
section.about aside .switchs input[type=radio]:checked + div {
  border: 2px solid #8d8c92;
  background: #fff;
}

section.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.portfolio .portfolio-cover {
  width: 100%;
}
section.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
section.portfolio .portfolio-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  align-self: flex-end;
}
section.portfolio .portfolio-content input[type=radio] {
  display: none;
}
section.portfolio .portfolio-content input[type=radio] + div {
  content: "\a";
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: #313035;
}
section.portfolio .portfolio-content input[type=radio]:checked + div {
  border: 2px solid #8d8c92;
  background: #fff;
}
section.portfolio a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  text-decoration: none;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: left;
  align-self: flex-start;
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
section.portfolio a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
section.portfolio a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
section.portfolio a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}
section.portfolio .switchs {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
section.portfolio .switchs input {
  display: block;
  margin: 10px;
}

section.offers {
  padding: 80px 0;
  background: #1a1f25;
  color: #fff;
  text-align: center;
}
section.offers h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
}

.offer-block {
  display: grid;
  grid-template-columns: repeat(5, 245px);
  grid-template-rows: repeat(3, 210px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.offer-item {
  width: 100%;
  height: 100%;
  border: 1px solid #595959;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item:nth-child(-n+5) {
  border-top: 0;
}
.offer-item:nth-child(-n+15) {
  border-bottom: 0;
  border-right: 0;
}
.offer-item:nth-child(5n+1) {
  border-left: 0;
}
.offer-item > img {
  width: 50px;
}
.offer-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 20px 0 20px;
}
.offer-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.offer-item a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.offer-item a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.offer-item a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

section.benefits {
  width: 100%;
  background: url(../img/benefits/bg-benefits.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

.benefits-inside {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  row-gap: 40px;
  padding: 200px 150px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.benefits-inside h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/4;
  align-self: center;
  padding-bottom: 30px;
}
.benefits-inside article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
}
.benefits-inside article img {
  margin-right: 30px;
}
.benefits-inside article:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.benefits-inside article:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.benefits-inside article:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}
.benefits-inside article:nth-child(5) {
  grid-row: 3/4;
  grid-column: 2/3;
}

section.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-send {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 150px 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: url(../img/form-bg.jpg) center/cover;
}
.form-send h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.form-send input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8;
  font-weight: 500;
  text-decoration: none;
  width: 400px;
  padding: 20px 0;
  margin-top: 20px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: none;
}
.form-send input::-webkit-input-placeholder {
  color: #fff;
}
.form-send input::-moz-placeholder {
  color: #fff;
}
.form-send input:-ms-input-placeholder {
  color: #fff;
}
.form-send input::-ms-input-placeholder {
  color: #fff;
}
.form-send input::placeholder {
  color: #fff;
}
.form-send .input-focus {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 5px;
}
.form-send button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
}
.form-send button img {
  margin-left: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form-send button:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.form-send button:active img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.price-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 100%;
  padding: 150px 50px;
  background: #000201;
  color: #fff;
}
.price-card h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/4;
  justify-self: center;
}

.card {
  grid-row: 2/4;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  padding: 30px 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
.card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 10px;
}
.card .card-info {
  margin-bottom: 10px;
}
.card span {
  text-decoration: line-through;
  color: red;
}
.card .price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  text-decoration: none;
}
.card:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#61B3C9), to(#074D88));
  background: -o-linear-gradient(top, #61B3C9 0%, #074D88 100%);
  background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
}

footer {
  padding: 60px 0;
  background: #17181c;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 1140px;
  padding-bottom: 40px;
}

.footer-blocks {
  justify-items: center;
}
.footer-blocks h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
}
.footer-blocks p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 0;
}

.footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  padding-top: 40px;
  border-top: 1px solid #595959;
}
.footer-2 .footer-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}
.footer-2 .footer-social a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  margin: 0 3px;
  border-radius: 5px;
  text-decoration: none;
  background: #fff;
}
.footer-2 .footer-social a img {
  width: 80%;
}