@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: none;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 640px;
  background: url("../img/bg.jpg");
  background-size: cover;
  overflow-x: hidden;
}
header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1140px;
  margin-top: 15px;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.header-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
  font-weight: 400;
  text-decoration: none;
  color: #212733;
}
.header-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
.header-content a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-content a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.header-content a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.header-content a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.hidden-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.visible-sidebar {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.none-sidebar {
  width: 60%;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-left: 50px;
  background: #191A1E;
  z-index: 1000;
}
.sidebar button {
  background: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar button:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidebar div a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin: 30px 0;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar div a:hover {
  color: white;
}
.sidebar .special-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#074D88), to(#61B3C9));
  background: -o-linear-gradient(left, #074D88 0%, #61B3C9 100%);
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  padding: 20px 40px;
  margin: 40px 0;
  color: #fff;
}
.sidebar .special-link img {
  margin-left: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar .special-link:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.sidebar .social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sidebar .social a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.sidebar .social a:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

section.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.about img {
  width: 100%;
}
section.about aside {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 0 100px;
}
section.about aside h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
  grid-column: 1/2;
  text-align: right;
  align-self: flex-end;
}
section.about aside .about-content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: right;
}
section.about aside .about-content p {
  margin: 30px 0;
}
section.about aside .switchs {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
section.about aside .switchs input {
  display: block;
  margin: 10px;
}