@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Полоса прокрутки (ScrollBar) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #1a1f25;
}

::-webkit-scrollbar-track {
  background-color: rgba(135, 135, 135, 0);
}

.offers-mobile {
  display: none;
}

body {
  background: #f0f8ff;
}

header.index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 680px;
  height: 100vh;
  background: url("../img/bg.jpg");
  background-size: cover;
  overflow-x: hidden;
}

header nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 15px;
}

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #f0f8ff;
}
.header-content h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.3em;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.3;
  text-align: center;
}
.header-content p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 40px;
}
.header-content a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #f0f8ff;
  border-radius: 5px;
  color: #f0f8ff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-content a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.header-content a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.header-content a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

.header-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  color: #f0f8ff;
}
.header-logo img {
  margin-right: 10px;
  width: 50px;
}

.header-menu img {
  -webkit-filter: invert(100%) brightness(100%);
          filter: invert(100%) brightness(100%);
}

.hidden-sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 4000;
}

.visible-sidebar {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 4000 !important;
}

.none-sidebar {
  width: 60%;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-left: 50px;
  background: #191a1e;
  -webkit-box-shadow: -8px -1px 17px -9px rgba(0, 0, 0, 0.6);
          box-shadow: -8px -1px 17px -9px rgba(0, 0, 0, 0.6);
  z-index: 4000;
}
.sidebar button {
  background: none;
  border: 0;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar button:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sidebar div a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  margin: 30px 0;
  color: rgba(240, 248, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar div a:hover {
  color: aliceblue;
}
.sidebar .special-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#074D88), to(#61B3C9));
  background: -o-linear-gradient(left, #074D88 0%, #61B3C9 100%);
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  padding: 20px 40px;
  margin: 40px 0;
  color: #f0f8ff;
}
.sidebar .special-link img {
  margin-left: 30px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.sidebar .special-link:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.sidebar .social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.sidebar .social a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f0f8ff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.sidebar .social a:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

section.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.about img {
  width: 100%;
}
section.about aside {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding: 0 100px;
}
section.about aside h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
  grid-column: 1/2;
  text-align: left;
  align-self: flex-end;
}
section.about aside .about-content {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  grid-row: 2/3;
  grid-column: 1/2;
  text-align: left;
  opacity: 0;
}
section.about aside .about-content p {
  margin: 30px 0;
}
section.about aside .about-content p b {
  font-weight: 600;
}
section.about aside .enable-about-content {
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  opacity: 1;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}
section.about aside .switchs {
  grid-row: 1/3;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
section.about aside .switchs input {
  display: block;
  margin: 10px;
}
section.about aside .switchs input[type=radio] {
  display: none;
}
section.about aside .switchs input[type=radio] + div {
  content: "\a";
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: #313035;
}
section.about aside .switchs input[type=radio]:checked + div {
  border: 2px solid #8d8c92;
  background: #f0f8ff;
}

section.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.portfolio .portfolio-cover {
  width: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  opacity: 0;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
}
section.portfolio .enable-portfolio-cover {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
section.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
section.portfolio .portfolio-content h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  align-self: flex-end;
}
section.portfolio .portfolio-content input[type=radio] {
  display: none;
}
section.portfolio .portfolio-content input[type=radio] + div {
  content: "\a";
  width: 15px;
  height: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  background: #313035;
}
section.portfolio .portfolio-content input[type=radio]:checked + div {
  border: 2px solid #8d8c92;
  background: #f0f8ff;
}
section.portfolio a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  text-decoration: none;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: left;
  align-self: flex-start;
  padding: 15px 30px;
  border: 1px solid #000;
  color: #000;
  background: rgba(240, 248, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
section.portfolio a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
section.portfolio a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
section.portfolio a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}
section.portfolio .switchs {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
section.portfolio .switchs input {
  display: block;
  margin: 10px;
}

section.offers {
  padding: 80px 0;
  background: #1a1f25;
  color: #f0f8ff;
  text-align: center;
}
section.offers h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
}

.offer-block {
  display: grid;
  grid-template-columns: repeat(5, 245px);
  grid-template-rows: repeat(1, 210px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.offer-item {
  width: 100%;
  height: 100%;
  border-left: 1px solid #595959;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer-item:first-of-type {
  border-left: 0;
}
.offer-item > img {
  width: 50px;
}
.offer-item p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: none;
  margin: 20px 20px 0 20px;
}
.offer-item a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px;
  border: 1px solid #f0f8ff;
  color: #f0f8ff;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.offer-item a img {
  display: block;
  margin-left: 30px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}
.offer-item a:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.offer-item a:active img {
  -webkit-transform: translateX(10px) rotate(90deg);
      -ms-transform: translateX(10px) rotate(90deg);
          transform: translateX(10px) rotate(90deg);
}

section.benefits {
  width: 100%;
  background: url(../img/benefits/bg-benefits.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

.benefits-inside {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 90px;
     -moz-column-gap: 90px;
          column-gap: 90px;
  row-gap: 40px;
  padding: 200px 150px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.benefits-inside h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/4;
  align-self: center;
  padding-bottom: 30px;
}
.benefits-inside article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
}
.benefits-inside article img {
  margin-right: 30px;
}
.benefits-inside article:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.benefits-inside article:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.benefits-inside article:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}
.benefits-inside article:nth-child(5) {
  grid-row: 3/4;
  grid-column: 2/3;
}

section.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-send {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 150px 50px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: url(../img/form-bg.jpg) center/cover;
}
.form-send h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.form-send input {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8;
  font-weight: 500;
  text-decoration: none;
  width: 400px;
  padding: 20px 20px;
  margin-top: 20px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #f0f8ff;
  color: #f0f8ff;
  background: none;
  position: relative;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(240, 248, 255, 0.3);
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form-send input#phone_number {
  padding-left: 110px;
}
.form-send input::-webkit-input-placeholder {
  color: #f0f8ff;
}
.form-send input::-moz-placeholder {
  color: #f0f8ff;
}
.form-send input:-ms-input-placeholder {
  color: #f0f8ff;
}
.form-send input::-ms-input-placeholder {
  color: #f0f8ff;
}
.form-send input::placeholder {
  color: #f0f8ff;
}
.form-send .input-focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.form-send button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border: 0;
  border-bottom: 1px solid #f0f8ff;
  border-radius: 5px;
  color: #f0f8ff;
  background: rgba(240, 248, 255, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.form-send button img {
  margin-left: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.form-send button:hover img {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}
.form-send button:active img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.select {
  position: relative;
}

.select select {
  display: block;
  width: 100%;
  /* от ширины блока div */
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  /* отступы от текста до рамки */
  background: none;
  /* убираем фон */
  border: 1px solid #ccc;
  /* рамка */
  border-radius: 3px;
  /* скругление полей формы */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  font-family: inherit;
  /* наследует от родителя */
  font-size: 1rem;
  color: #444;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.select:after {
  content: " url(...) ";
}

.select select {
  background: url(...) no-repeat;
}

.errorForm {
  background: rgba(255, 0, 0, 0.6) !important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation-name: errorLeftRight;
          animation-name: errorLeftRight;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes errorLeftRight {
  0% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}

@keyframes errorLeftRight {
  0% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  50% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  100% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}
.price-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 100%;
  padding: 150px 50px;
  background: #1a1f25;
  color: #f0f8ff;
}
.price-card h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  grid-row: 1/2;
  grid-column: 1/4;
  justify-self: center;
}

.card {
  grid-row: 2/4;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  text-decoration: none;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  padding: 30px 10px;
  text-align: center;
  border: 1px solid #787acc98;
  border-radius: 10px;
  -webkit-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  transition: 0.6s linear;
  background: -webkit-gradient(linear, left top, left bottom, from(#1a1f25), to(#074e8888));
  background: -o-linear-gradient(top, #1a1f25 0%, #074e8888 100%);
  background: linear-gradient(180deg, #1a1f25 0%, #074e8888 100%);
}
.card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 10px;
}
.card .card-info {
  margin-bottom: 10px;
}
.card span {
  text-decoration: line-through;
  color: red;
}
.card .price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  text-decoration: none;
}

footer {
  padding: 60px 0;
  background: #17181c;
  color: #f0f8ff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  width: 1140px;
  padding-bottom: 40px;
}

.footer-blocks {
  justify-items: center;
}
.footer-blocks h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-blocks p {
  margin: 20px 0;
}
.footer-blocks .footer-phone {
  font-family: "Montserrat", sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  text-decoration: none;
}
.footer-blocks a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 200;
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  text-decoration: none;
  color: #f0f8ff;
}
.footer-blocks a::after {
  content: " ";
  height: 1px;
  width: 100%;
  left: 0;
  background: #bbb;
  position: absolute;
  bottom: -1px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.footer-blocks a:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  padding-top: 40px;
  border-top: 1px solid #595959;
}
.footer-2 .footer-logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}
.footer-2 .footer-social a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27px;
  height: 27px;
  margin: 0 3px;
  border-radius: 5px;
  text-decoration: none;
  background: #f0f8ff;
}
.footer-2 .footer-social a img {
  width: 80%;
}

.sendSuccess {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}
.sendSuccess > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  text-decoration: none;
  width: 300px;
  height: 300px;
  background: #004608;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
.sendSuccess > div img {
  width: 70px;
  margin-bottom: 30px;
}

.sendSuccess-enable {
  z-index: 1000;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.first-tariff,
.second-tariff,
.third-tariff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 300px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-top: 1px solid #000;
  background-color: #1a1f25;
  color: #f0f8ff;
}
.first-tariff h2,
.second-tariff h2,
.third-tariff h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  margin-bottom: 20px;
}
.first-tariff p,
.second-tariff p,
.third-tariff p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.8;
  width: 100%;
}
.first-tariff p b,
.second-tariff p b,
.third-tariff p b {
  font-weight: 500;
}
.first-tariff button,
.second-tariff button,
.third-tariff button {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  top: 120px;
  right: 200px;
  border: 0;
  outline: 0;
  background: none;
  color: #f0f8ff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.first-tariff button:hover,
.second-tariff button:hover,
.third-tariff button:hover {
  color: red;
}

header.portfolio-page {
  height: 100%;
}
header.portfolio-page .p-header-inside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: #1a1f25;
  color: #f0f8ff;
}
header.portfolio-page .p-header-inside h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  margin: 20px 0 30px 0;
}

.header-arrow {
  width: 100%;
  height: 30px;
  background: #1a1f25;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.main-p-page {
  width: 100%;
  margin-top: 60px;
}

.about-p {
  margin: 0 auto 60px auto;
  width: 90%;
}
.about-p p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  text-decoration: none;
  width: 800px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1a1f2562;
  font-style: italic;
}

.cards-p {
  margin: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 90%;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  row-gap: 80px;
}

.card-p {
  position: relative;
  width: 500px;
  height: 280px;
  border-radius: 10px;
  background: #1a1f25;
  -webkit-box-shadow: 0px 5px 18px 9px rgba(26, 31, 37, 0.16);
          box-shadow: 0px 5px 18px 9px rgba(26, 31, 37, 0.16);
  cursor: pointer;
  overflow: hidden;
}
.card-p .card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card-p .card-bg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.card-p .card-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 300;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(26, 31, 37, 0.7);
  color: #f0f8ff;
}
.card-p .card-circle h2 {
  margin-bottom: 20px;
}
.card-p .card-circle a {
  display: none;
  padding: 10px 25px;
  border: 1px solid #f0f8ff;
  text-decoration: none;
  color: #f0f8ff;
}
.card-p .card-circle a img {
  margin-left: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.card-p .card-circle a:hover img {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
.card-p .card-circle a:active img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.card-p .card-circle .enable-circle-link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.card-p .card-circle > * {
  opacity: 0;
}